/* You can add global styles to this file, and also import other style files */

body {
	background-color: #eee;
	margin: 20px 0;
	color: #444;
}

select {
	margin-bottom: 20px;
}

.mealWrap {
	margin: 0;
	background-color: #fff;
	> div {
		padding: 0;
	}
}

.mealBox {
	padding: 0 0 5px;
	.mealBoxTitle {
		background-color: #ddd;
		font-weight: 600;
		div:last-child {
			color: #45158a;
		}
	}
	.meal div {
		padding: .5rem 1rem !important;
	}
	.meal div:last-child {
		color: #45158a;
		font-weight: 600;
	}
}
